# Dependencias
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Temporal
tmp/
temp/

# pseudos
.pseudo/

# Redis
dump.rdb